<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterAuthor</filter-name>
        <filter-class>minhnlt.controller.FilterAuthor</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAuthor</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomePageServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoadHomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadBookPageServlet</servlet-name>
        <servlet-class>minhnlt.controller.loadBookPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>minhnlt.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDetailBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.showDetailBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>minhnlt.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCartPageServlet</servlet-name>
        <servlet-class>minhnlt.controller.loadCartPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>minhnlt.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminPageServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoadAdminPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookAdminServlet</servlet-name>
        <servlet-class>minhnlt.controller.SearchBookAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecreaseQuantityServlet</servlet-name>
        <servlet-class>minhnlt.controller.DecreaseQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncreaseQuantityServlet</servlet-name>
        <servlet-class>minhnlt.controller.IncreaseQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCreatePageServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoadCreatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookAdminServlet</servlet-name>
        <servlet-class>minhnlt.controller.DeleteBookAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationFormAddBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.ValidationFormAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInfoServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoadInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>minhnlt.controller.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadStatisticPageServlet</servlet-name>
        <servlet-class>minhnlt.controller.LoadStatisticPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>minhnlt.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportToExcelServlet</servlet-name>
        <servlet-class>minhnlt.controller.ExportToExcelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomePageServlet</servlet-name>
        <url-pattern>/LoadHomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadBookPageServlet</servlet-name>
        <url-pattern>/loadBookPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDetailBookServlet</servlet-name>
        <url-pattern>/showDetailBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCartPageServlet</servlet-name>
        <url-pattern>/loadCartPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminPageServlet</servlet-name>
        <url-pattern>/LoadAdminPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookAdminServlet</servlet-name>
        <url-pattern>/SearchBookAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecreaseQuantityServlet</servlet-name>
        <url-pattern>/DecreaseQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncreaseQuantityServlet</servlet-name>
        <url-pattern>/IncreaseQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCreatePageServlet</servlet-name>
        <url-pattern>/LoadCreatePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookAdminServlet</servlet-name>
        <url-pattern>/DeleteBookAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationFormAddBookServlet</servlet-name>
        <url-pattern>/ValidationFormAddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInfoServlet</servlet-name>
        <url-pattern>/LoadInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadStatisticPageServlet</servlet-name>
        <url-pattern>/LoadStatisticPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportToExcelServlet</servlet-name>
        <url-pattern>/ExportToExcelServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>LibraryProject</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
